.set {
	position: relative;
	margin-left: 10px;
	font-family: sans-serif;
	font-size: small;
	vertical-align: middle;
	line-height: 4ex;
}

.icon svg, .set img {
	width: 3ex;
	height: 3ex;
	padding: 1px;
	vertical-align: middle;
	object-fit: contain;
}

.id, .label {
	font-family: monospace;
}

.icon, .name, .id, .label {
	display: inline;
}

.label {
	padding: 3px;
	border-radius: 5px;
	vertical-align: middle;
	border: dashed 1px;
	font-size: x-small;
	cursor: default;
}

.year {
	font-family: sans-serif;
	font-size: x-small;
	font-weight: bold;
	color: white;
	background-color: black;
	width: 4em;
	padding: 1px;
	border-radius: 5px;
	text-align: center;
}

a:link, a:visited {
	color: black;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
	text-decoration-style: dotted;
}

.core.label {
	background-color: lightyellow;
	border-color: darkkhaki;
	color: brown;
}

.joke.label {
	background-color: lightsalmon;
	border-color: darkred;
	color: darkred;
}

.modern.label {
	background-color: lightblue;
	border-color: darkslateblue;
	color: darkblue;
}

.starter.label {
	background-color: palegreen;
	border-color: darkgreen;
	color: darkgreen;
}
